body {
    margin:0px;
}
.ck-editor__editable:not(.ck-editor__nested-editable) { 
    min-height: 400px;
}
#review_thumb {
    width:150px;
    height:150px;
    overflow: hidden;
}
#review_thumb img {
    margin-top: 20px;
    max-width: 100%;
}
footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
}
table.dataTable thead th:last-child{
    width:137px!important;
}
.box-title-section {
    display:inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.box-action-of-list {

}
.box-action-of-list > * {
    color:#949090;
}
.box-action-of-list > *:hover {
    cursor: pointer;
    color:#5e5e5e;
}
.box-action-of-list > *:nth-child(1) {
    margin-right:30px;
}