body {
    margin:0px;
    background-color:#f3eeee!important;
}
footer {
    border:none!important;
}
.no-padding-left {
    padding-left: 0px!important;
}
.ck-editor__editable:not(.ck-editor__nested-editable) { 
    min-height: 400px;
}
#review_thumb {
    width:150px;
    height:150px;
    overflow: hidden;
}
#review_thumb img {
    margin-top: 20px;
    max-width: 100%;
}
footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
}
table.dataTable thead th:last-child{
    width:137px!important;
}
.box-title-section {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
.box-action-of-list {

}
.box-action-of-list > * {
    color:#949090;
}
.box-action-of-list > *:hover {
    cursor: pointer;
    color:#5e5e5e;
}
.box-action-of-list > *:nth-child(1) {
    margin-right:30px;
}
.admin-header-user-avatar-menu {
    
}
.header-avatar-menu-user {
    width: 35px;
    height: 35px;
    overflow: hidden;
    float: left;
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid #d9d9e0;
}
.box-menu-admin {
    width:100%;
    display: inline-block;
}
.box-menu-admin .navbar-brand {
    float: left;
    color: white!important;
    text-transform: uppercase;
    text-shadow: 5px 5px 4px #064386;
}
.big-box-admin-sub-menu {
    background: blue;
}
.big-box-admin-sub-menu ul li > a {
    color:#ccc!important;
}
.big-box-admin-sub-menu li.active > a,.big-box-admin-sub-menu li > a:hover {
    color:white!important;
    scale: 10.0;
}
main.container {
    border: 1px solid #ccc;
    margin: 20px auto;
    padding-top: 15px;
}
.big-box-admin-sub-menu > .container {
    padding:0px;
}
.big-box-admin-sub-menu > .container > nav {
    padding-left: 0px;
}